PORT=8080
NODE_ENV=development

MONGODB_URI=mongodb+srv://<username>:<password>@refurnish.kgv1gfw.mongodb.net/?retryWrites=true&w=majority&appName=Refurnish

JWT_SECRET=supersecretkey123  # replace with a long, random string in production
JWT_EXPIRES_IN=1d